<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Fwitter</h1>
    <% if logged_in? %>
      <a href="/tweets/new">Create Tweet</a><br>
      <a></a>
    <%end%>
  </body>
</html>
